@font-face {
    font-family: 'Gill Sans MT Pro';
    src: url('../fonts/GillSans/GillSansMTPro-Medium.eot');
    src: local('Gill Sans MT Pro Medium'), local('GillSansMTPro-Medium'),
    url('../fonts/GillSans/GillSansMTPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GillSans/GillSansMTPro-Medium.woff2') format('woff2'),
    url('../fonts/GillSans/GillSansMTPro-Medium.woff') format('woff'),
    url('../fonts/GillSans/GillSansMTPro-Medium.ttf') format('truetype'),
    url('../fonts/GillSans/GillSansMTPro-Medium.svg#GillSansMTPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans MT Pro';
    src: url('../fonts/GillSans/GillSansMTPro-Bold.eot');
    src: local('Gill Sans MT Pro Bold'), local('GillSansMTPro-Bold'),
    url('../fonts/GillSans/GillSansMTPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GillSans/GillSansMTPro-Bold.woff2') format('woff2'),
    url('../fonts/GillSans/GillSansMTPro-Bold.woff') format('woff'),
    url('../fonts/GillSans/GillSansMTPro-Bold.ttf') format('truetype'),
    url('../fonts/GillSans/GillSansMTPro-Bold.svg#GillSansMTPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans MT Pro';
    src: url('../fonts/GillSans/GillSansMTPro-ExtraBold.eot');
    src: local('Gill Sans MT Pro ExtraBold'), local('GillSansMTPro-ExtraBold'),
    url('../fonts/GillSans/GillSansMTPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GillSans/GillSansMTPro-ExtraBold.woff2') format('woff2'),
    url('../fonts/GillSans/GillSansMTPro-ExtraBold.woff') format('woff'),
    url('../fonts/GillSans/GillSansMTPro-ExtraBold.ttf') format('truetype'),
    url('../fonts/GillSans/GillSansMTPro-ExtraBold.svg#GillSansMTPro-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gill Sans MT Pro';
    src: url('../fonts/GillSans/GillSansMTPro-Light.eot');
    src: local('Gill Sans MT Pro Light'), local('GillSansMTPro-Light'),
    url('../fonts/GillSans/GillSansMTPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GillSans/GillSansMTPro-Light.woff2') format('woff2'),
    url('../fonts/GillSans/GillSansMTPro-Light.woff') format('woff'),
    url('../fonts/GillSans/GillSansMTPro-Light.ttf') format('truetype'),
    url('../fonts/GillSans/GillSansMTPro-Light.svg#GillSansMTPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

:root {
    --offwhite: #E3E2DF;
    --offwhite_dark: #dddbd7;
    --offwhite_darker: #d0cfcc;
    --burgundy: #5D001E;
    --burgundy-light: #5D001E30;
    --burgundy-lighter: #5D001E20;
    --pink: #E3AFBC;
    --magenta: #9A1750;
    --axis-width: 3px;
    --slider-thumb-width: 3px;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden !important;
    font-family: "Gill Sans MT Pro", helvetica, sans-serif !important;
}

/* preload button image to prevent blinking at first hover*/
#preloadedImage01 {
    background: url('../images/air_inactive.png') no-repeat -9999px -9999px;
}

#preloadedImage02 {
    background: url('../images/air_active.png') no-repeat -9999px -9999px;
}

#preloadedImage03 {
    background: url('../images/rail_inactive.png') no-repeat -9999px -9999px;
}

#preloadedImage04 {
    background: url('../images/rail_active.png') no-repeat -9999px -9999px;
}

#preloadedImage05 {
    background: url('../images/road_inactive.png') no-repeat -9999px -9999px;
}

#preloadedImage06 {
    background: url('../images/road_active.png') no-repeat -9999px -9999px;
}

#preloadedImage07 {
    background: url('../images/water_inactive.png') no-repeat -9999px -9999px;
}

#preloadedImage08 {
    background: url('../images/water_active.png') no-repeat -9999px -9999px;
}

#preloadedImage09 {
    background: url('../images/import_inactive.png') no-repeat -9999px -9999px;
}

#preloadedImage10 {
    background: url('../images/import_active.png') no-repeat -9999px -9999px;
}

#preloadedImage11 {
    background: url('../images/export_inactive.png') no-repeat -9999px -9999px;
}

#preloadedImage12 {
    background: url('../images/export_active.png') no-repeat -9999px -9999px;
}


#fullpage {
    z-index: 10;
}

.full_v {
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.full_p {
    height: 100%;
    width: 100%;
}

.bg {
    background-color: var(--offwhite);
    position: fixed;
    z-index: -200;
}

.fullheight_v {
    height: 100vh !important;
}

.fullheight_p {
    height: 100% !important;
}

.fullwidth_v {
    width: 100vw !important;
}

.fullwidth_p {
    width: 100% !important;
}

.float {
    position: absolute;
}

.flex_stretch {
    align-items: stretch;
}

.map_bg {
    background-color: var(--burgundy);
}

.map_container {
    width: 40vw;
    height: 100vh !important;
    /*min-width: 400px;*/
    align-items: center;
    justify-content: center;
    display: flex;
}

.map {
    width: 80%;
    height: 70%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.map_svg {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.map_svg .jqvmap-region {
    stroke: var(--burgundy);
    stroke-width: 3px;
    stroke-opacity: 100%;
    fill: var(--offwhite);
    fill-opacity: 90%;
    pointer-events: auto;
}

#map .map_svg:hover .jqvmap-region {
    fill-opacity: 55%;
}

#map .jqvmap-region-unselected {
    fill-opacity: 45% !important;
}

/*.jqvmap-region-selected {*/
/*    fill-opacity: 90%;*/
/*}*/

#map .map_svg .jqvmap-region:hover,
#map .jqvmap-region-selected,
#map .jqvmap-region-unselected:hover {
    fill-opacity: 90% !important;
}

.jqvmap-pin {
    color: var(--burgundy);
    font-size: 0.8vw;
    /*width: 40px;*/
    /*height: 40px;*/
}

.jqvmap-region {
    cursor: pointer;
}

/*.jqvmap-label, .jqvmap-pin {*/
/*    pointer-events: none;*/
/*}*/

.jqvmap-label {
    position: absolute;


    color: var(--burgundy);
    /*border: none;*/
    background: var(--offwhite);
    /*outline: 1px solid transparent;*/
    /*padding: 4px 8px 4px 8px;*/
    padding: 1px;
    font-size: 14px;
    font-weight: 100;
    pointer-events: none;
    white-space: nowrap;
    z-index: 200;
}

.jqvmap-ajax_response {
    width: 100%;
    height: 100%;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    position: absolute;
    opacity: 80%;
    left: 35px;
    top: 35px;
}

.burgundy-text {
    color: var(--burgundy);
}

.white-text {
    color: var(--offwhite);
}

.onerightcontainter {
    position: relative;
}

.oneright {
    display: block;
    position: absolute;
    /*margin: 35px 50px 35px 55px;*/
    margin: 3.5vw 4vw 3.5vw 4vw;
    height: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.flexrow,
.flexrow_parent > div {
    display: flex;
    flex-flow: row;
    width: 100%;
}

.flexcolumn {
    display: flex;
    flex-flow: column;
}

.flexleft,
.flexnone {
    flex: none;
}

.flexright,
.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.dateblock {
    margin-right: 1.5vw;
}

#month {
    background: var(--burgundy);
    padding: 0 6px 0 6px;
    color: var(--offwhite);
    font-size: 1.0vw;
    text-align: center;
    font-weight: 100;
}

#day {
    border: solid var(--burgundy) 1px;
    font-size: 1.5vw;
    padding: 0 6px 0 6px;
    color: var(--burgundy);
    /*font-weight: bold;*/
}

.stat {
    /*background-color: var(--offwhite_dark);*/
    height: fit-content;
    /*margin: 0 0 10px 0;*/
    padding: 0 1.2vw 0 1.2vw;
    color: var(--burgundy);
    border-left: solid var(--burgundy) 2px;
    /*border-right: solid var(--burgundy) 2px;*/
    /*min-width: 100px;*/
    overflow: hidden;
}

/*.stat_last {*/
/*    border-right: none;*/
/*}*/

.stat_title {
    font-size: 1.0vw;
    font-weight: 300;
    white-space: nowrap;
}

.stat_value {
    font-size: 1.5vw;
    font-weight: bold;
    white-space: nowrap;
}

.hist_label {
    font-size: 12px;
    font-weight: 100;
    white-space: nowrap;
    color: var(--burgundy);
    /*position: relative;*/
    /*height: 16.667%;*/
    text-anchor: middle;
    transform: translateY(-3px);
}

.hist_labels {
    width: 45px;
    border: solid var(--burgundy);
    border-width: 0 2px 0 2px;
}

.hist_label_center {
    align-items: center;
    justify-content: center;
}

.hist_label_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hist_parent {
    margin: 0 20px 0 20px;
    position: relative;
}

.bar_center_container {
    height: 65%;
    width: 100%;
}

.line_chart_overlay {
    margin: 75px calc(55px - var(--axis-width) / 2) 25px calc(55px + var(--axis-width) / 2);
    /*overflow: hidden;*/
}

#line_chart_event {
    margin: 0 calc(55px - var(--axis-width)) 25px calc(55px + var(--axis-width) / 2);
    overflow: hidden;
}

#line_chart_graph {

}

#date_slider {
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    /*height: 100%; !* Specified height *!*/
    background: none; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.5; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider_thumb {
    margin: 0;
}

.slider_thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--slider-thumb-width);
    cursor: ew-resize;
    border: none;
    box-shadow: -2000px 0 0 2000px var(--burgundy-light);
    background: repeating-linear-gradient(
            0deg,
            #7e0010,
            #7e0010 6px,
            transparent 6px,
            transparent 12px
    )
}

.slider_thumb::-moz-range-thumb {
    width: var(--slider-thumb-width);
    /*background: #7e0010;*/
    cursor: ew-resize;
    margin: 0;
    border: none;
    background: repeating-linear-gradient(
            0deg,
            #7e0010,
            #7e0010 6px,
            transparent 6px,
            transparent 12px
    )
}

.slider_thumb::-moz-range-progress {
    background-color: var(--burgundy-light);
}

#line_chart_slider {
    position: relative;
}

#onerighttop {
    /*background-color: coral;*/
    margin-bottom: 2.5vw;
}

#onerightmiddle {
    /*background-color: aqua;*/
    /*border: solid var(--burgundy) 1px;*/
    margin-bottom: 3vw;
    /*overflow-y: hidden;*/
}

#onerightbottom {
    overflow-y: hidden;
    position: relative;
}

.bar_title {
    margin-top: 0.5vw;
    /*margin-bottom: 2vw;*/
    font-size: 14px;
    color: var(--burgundy);
    text-align: center;
}

.gender {
    /*margin-bottom: 2vw;*/
    /*position: relative;*/
    font-size: 12px;
    color: var(--burgundy);
    text-align: center;
}

.gender_text {
    margin: 0 9px 0 9px;
}

#onerightbottom {
    /*background-color: darkorchid;*/
    /*border: solid var(--burgundy) 1px;*/
}

.center_parent {
    position: relative;
}

.content_sec {
    height: 85vh;
    width: 45vw;
}

.center_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content_title {
    /*margin-top: 10px;*/
    margin-bottom: 0.5vh;
    font-size: 3.8vh;
    font-weight: bold;
    color: var(--burgundy);
}

.content_subtitle {
    /*margin-top: 5px;*/
    font-size: 2.3vh;
    font-weight: 100;
    color: var(--burgundy);
}

.content_titles {
    margin-bottom: 3vh;
}

.content_middle {
    margin-top: 6vh;
    margin-bottom: 6vh;
}

#fp-nav {
    right: 0 !important;
}

#fp-nav ul li {
    width: auto;
    height: 40px !important;
    margin: 8px 15px 8px 15px !important;
}

#fp-nav ul li a.active span,
#fp-nav ul li:hover a.active span {
    height: 40px !important;
    width: 4px !important;
    border-radius: 0 !important;
    margin: -20px 0 0 0 !important;
    background: var(--burgundy);
    border: solid var(--burgundy) 1px;
    opacity: 70%;
}

#fp-nav ul li a span {
    border-radius: 0 !important;
    height: 40px !important;
    width: 4px !important;
    margin: -20px 0 0 0 !important;
    background: none;
    border: solid var(--burgundy) 1px;
    opacity: 70%;
}

#fp-nav ul li .fp-tooltip {
    line-height: 42px;
    font-size: 16px;
    color: var(--burgundy);
    justify-content: center;
    /*background: #899779;*/
    top: 0;
}

#fp-nav ul li .fp-tooltip {
    right: 10px !important;
}

.line_buttons {
    margin: 0 0 calc(60px - var(--axis-width) + 1px) 0;
}

.line_button {
    margin: 5px 0 0 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
}

.line_button:focus {
    outline: none;
    box-shadow: none;
}


#air_button {
    background: url('../images/air_inactive.png') center center / cover;
}

#air_button:hover, #air_button:disabled {
    background: url('../images/air_active.png') center center / cover;
}

#rail_button {
    background: url('../images/rail_inactive.png') center center / cover;
}

#rail_button:hover, #rail_button:disabled {
    background: url('../images/rail_active.png') center center / cover;
}

#road_button {
    background: url('../images/road_inactive.png') center center / cover;
}

#road_button:hover, #road_button:disabled {
    background: url('../images/road_active.png') center center / cover;
}

#water_button {
    background: url('../images/water_inactive.png') center center / cover;
}

#water_button:hover, #water_button:disabled {
    background: url('../images/water_active.png') center center / cover;
}

#import_button {
    background: url('../images/import_inactive.png') center center / cover;
}

#import_button:hover, #import_button:disabled {
    background: url('../images/import_active.png') center center / cover;
}

#export_button {
    background: url('../images/export_inactive.png') center center / cover;
}

#export_button:hover, #export_button:disabled {
    background: url('../images/export_active.png') center center / cover;
}

.button_hint {
    position: absolute;
    height: 30px;
    width: 85px;
    background: var(--magenta);
    line-height: 30px;
    text-align: center;
    color: var(--offwhite);
    transform: translate(-85px, -30px);
    font-weight: 300;
    opacity: 0;
}

#water_button:hover + #water_label,
#rail_button:hover + #rail_label,
#air_button:hover + #air_label,
#road_button:hover + #road_label,
#import_button:hover + #import_label,
#export_button:hover + #export_label {
    opacity: 1;
}

.line {
    fill: none;
    stroke-width: 1.5;
}

.line_new {
    stroke: var(--magenta);
}

.area_new {
    fill: var(--magenta);
    opacity: 30%;
}

.line_total {
    stroke: var(--pink);
}

.area_total {
    fill: var(--pink);
    opacity: 30%;
}

.line_grey {
    stroke: var(--offwhite_darker);
}

.tick {
    color: var(--burgundy);
    font-weight: 100;
    opacity: 100% !important;
    /*visibility: hidden;*/
}

.inner_tick {
    /*transform: translateY(10px);*/
    padding-bottom: 10px;
    font-size: 8px;
    opacity: 90%;
    font-weight: 300;
}

.tick line {
    opacity: 20%;
    /*stroke-width: 2px;*/
    stroke-dasharray: 2.2;
    stroke: var(--burgundy);
}

.domain {
    stroke-width: var(--axis-width);
    stroke-opacity: 0.3;
    /*opacity: 0.3;*/
}

.chart_title {
    font-size: 14px;
    fill: var(--burgundy);
    text-anchor: middle;
    transform-origin: top center;
}

.chart_label {
    font-size: 14px;
    fill: var(--burgundy);
    /*transform: rotate(90deg);*/
}

.line_chart_title {
    font-size: 16px;
    min-height: 16px;
    color: var(--burgundy);
    margin: 0 50px 3px 8px;
}

.line_chart_unit {
    font-size: 14px;
    min-height: 14px;
    font-weight: 300;
    color: var(--burgundy);
    margin: 0 50px 10px 8px;
}

.line_chart_title_container {
    /*overflow: hidden;*/
}

.chart_caption {
    font-size: 14px;
    /*line-height: 14px;*/
    height: 14px;
    margin-top: 5px;
    color: var(--burgundy);
    text-align: center;
    /*overflow: visible;*/
}

.overlay {
    fill: none;
    pointer-events: all;
}

.dot {
    fill: #ffab00;
    stroke: #fff;
}

.dot_case {
    fill: var(--magenta);
    stroke: var(--magenta);
}

.focus circle {
    fill: none;
    stroke: steelblue;
}

.frame {
    border: solid #d949c6 1px;
}

.bar {
    fill: var(--burgundy) !important;
}

.block_bg {
    background-color: #789875;
}

.axis_label {
    background: var(--burgundy);
    font-size: 10px;
    font-weight: bold;
    fill: var(--burgundy);
    text-anchor: middle;
}

.legend_new {
    fill: var(--magenta);
}

.legend_total {
    fill: var(--pink);
}

.chart_bar {
    box-shadow: -2000px 0 0 2000px var(--burgundy-light);
    background: repeating-linear-gradient(
            0deg,
            #7e0010,
            #7e0010 7px,
            transparent 7px,
            transparent 14px
    )
}

.tooltip {
    color: var(--burgundy);
    border: none;
    background: var(--offwhite);
    outline: 1px solid transparent;
    position: absolute;
    padding: 4px 8px 4px 8px;
    font-size: 10px;
    font-weight: 100;
    pointer-events: none;
    white-space: nowrap;
    opacity: 0;
    /*transition: opacity 200ms;*/
    z-index: 50;
}

.focus_container:hover .tooltip {
    opacity: 1;
    /*transition: opacity 200ms;*/
    border: 1px solid var(--burgundy);
}

.focus {
    background-color: var(--burgundy-lighter);
    opacity: 0;
    height: 100%;
    /*transition: transform 500ms;*/
}

.focus_container:hover .focus {
    opacity: 0.6;
}

.focus_container {
    position: absolute;
    height: auto;
    width: auto;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 50px 25px 10px;
}

.line_chart_impact {
    pointer-events: none;
}

.line_chart_impact_container {
    position: relative;
    box-sizing: border-box;
}

.legend_box {
    height: 35px;
    margin-left: 10px;
    margin-right: 50px;
}

.legend_line_box {
    width: 20px;
    margin-right: 5px;
}

.legend_block {
    /*background-color: #678989;*/
    width: fit-content;
    /*display: inline-block;*/
    margin: 0 12px 0 12px;
    padding: 10px 15px 10px 15px;
    color: var(--burgundy);
    cursor: pointer;
}

.legend {
    /*display: inline-block;*/
    font-size: 12px;
    width: fit-content;
}

.legend_line {
    height: 2px;
    width: 100%;
}

.legend_line_main {
    height: 2px;
    width: 100%;
}

.legend_dot {
    width: 6px;
    height: 6px;
    border-radius: 3px;
}

.legend_dot_main {
    width: 6px;
    height: 6px;
    border-radius: 3px;
}

.event_txt_label {
    color: var(--burgundy);
    font-size: 10px;
    display: inline-block;
    position: absolute;
    transform-origin: bottom right;
    line-height: 10px;
    max-width: 85px;
    text-align: right;
    opacity: 90%;
}

.event_line {
    stroke: var(--burgundy);
    stroke-width: 1px;
    stroke-dasharray: 4px;
    opacity: 45%;
}

#place_holder_event {
    height: 65px;
}

#line_chart_slider_top {
    overflow-y: visible;
}

.de_hist {
    overflow: hidden;
}

.de_hist svg rect {
    fill: var(--burgundy);
}

.de_hist svg rect:hover ~ text.hist_label {
    display: block;
}

text.hist_label {
    /*display: none;*/
    fill: var(--burgundy);
    font-size: 0.7vw;
    /*text-anchor: middle;*/
}

.bar_label {
    font-size: 1.2vh;
    /*line-height: 10px;*/
    /*transform: translateY(50%);*/
    font-weight: 300;
}

.bar_label_light {
    fill: var(--offwhite);
}

.bar_label_dark {
    fill: var(--burgundy);
}

text.dlabs {
    font-size: 0.7vw;
    opacity: 0;
    font-weight: 300;
    fill: var(--burgundy);
    text-anchor: middle;
}

.dot_lines {
    opacity: 0;
    stroke-dasharray: 2.2;
    stroke-width: 1px;
    stroke: var(--burgundy);
}

.ui-slider {
    height: 100% !important;
    background: none !important;
    border: none !important;
}

.ui-slider-range {
    background: var(--burgundy-light) !important;
}

.ui-slider-handle {
    /*-webkit-appearance: none !important;*/
    /*appearance: none !important;*/
    width: var(--slider-thumb-width) !important;
    cursor: ew-resize !important;
    border: none !important;
    /*box-shadow: -2000px 0 0 2000px var(--burgundy-light) !important;*/
    background: repeating-linear-gradient(
            0deg,
            #7e0010,
            #7e0010 6px,
            transparent 6px,
            transparent 12px
    ) !important;
    margin: 0 !important;
    top: 0 !important;
    transform: translateX(calc(var(--slider-thumb-width) / -2));
    height: 100% !important;
    outline: 0 none !important;
}

#msg_ie_container {
    background: var(--offwhite);
    /*display: table;*/
    z-index: 200;
    top: 0;
    left: 0;
    position:fixed;
    /*visibility: hidden;*/
}

#msg_ie {
    bottom: 0;
    height: 400px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}

#text_ie {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-size: 26px;
    color: var(--burgundy);
}